<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <title><%= com.env.seo.title %>安全保障</title>
</head>
<body>
<div class="fullpage">
    <!--第一屏-->
    <div >
        <img src="/img/b_02.jpg" alt="" style="width: 100%">
    </div>
    <div class="main1">
        <img src="/img/b1_04.jpg" alt="" class="product">
        <div class="title">
            <p>铂恒金服只甄选有保障的产品推送</p>
            <p>给投资人产品本身的风控特显决定平台投资人资金安全</p>
        </div>
        <ul class="main1_list1">


            <li>
                <img src="/img/b4_08.png" alt="">
                <p>铂金宝</p>
            </li>

            <li>
                <img src="/img/b2_08.png" alt="">
                <p>恒盈宝</p>
            </li>

            <li>
                <img src="/img/b2_099.png" alt="">
                <p>铂信宝</p>
            </li>
        </ul>

        <ul class="main1_list2" style="position: relative;">
            <li>
                <span class="yuan"></span>
                <i class="i1"></i>
                <!--<img src="/img/01_20.jpg" alt="">-->
                <h2>铂金宝</h2>
                <p>
                    本项目为车位抵押贷款产品，借款方属于洲本资产推荐，具有稳定收入、信用良好，同时具有车位的优质企业或个人。所有借款都根据客户的收入情况、过往履约情况以及资产状况进行评估授信，同时经过银行风控体系进行风控，并纳入中国人民银行征信中心的数据库。洲本资产与多家银行在贷款方面有深度合作，为该借款方提供了担保保障。                </p>
            </li>
            <li>
                <span class="yuan"></span>
                <i class="i1"></i>
                <!--<img src="/img/02_23.jpg" alt="">-->
                <h2>恒盈宝</h2>
                <p>
                    本项目为汽车消费金融产品，借款方属于汽车经销商和国鸿租赁推荐、铂恒金服筛选、具有稳定收入、信用良好的优质汽车消费者。该产品服务通过汽车以租代购的方式实现：借款方在租赁期间仅拥有车辆的使用权，所有权归国鸿租赁；在租赁期满并交齐租金后，由国鸿租赁将汽车过户给借款方。租赁期间由安邦保险为租赁汽车进行承保。国鸿租赁在汽车金融行业有着二十年成功运作经验，为该借款产品提供了全面的风控保障。
                </p>
            </li>
            <li>
                <span class="yuan"></span>

                <!--<img src="/img/02_23.jpg" alt="">-->
                <h2>铂信宝</h2>
                <p>
                    本项目是属于贷款垫资产品。银行向借款人贷款授信至下款期间，洲本资产先行垫付借款，待银行贷款审批发放后归还垫资金款项。借款方为合作机构推荐具有房产、车辆、稳定收入、信用良好的优质个人。所有借款都根据客户的收入情况、过往履约情况以及资产状况进行评估授信，经过银行风控体系进行风控，并纳入中国人民银行征信中心的数据库。合作机构与多家银行在信用贷款方面有深度合作，为该借款产品提供了全面的风控保障。
                </p>
            </li>
        </ul>

    </div>
    <!--第二屏-->
    <div class="main2" >
        <img src="/img/b6_02.jpg" alt="" class="cur">
        <div class="title" style="margin-top: 0.5rem">
            <p>铂恒金服针对每一个撮合产品类别进行</p><p>全流程的跟进，
            对贷款需求、贷款资质情况、资</p><p>金去向和回款途径清楚明晰，
            从项目</p><P>接收项目审核到运维监测，均由近十年金融运营经验的专业风险管理团队把关。</P>

        </div>
        <ul class="main2_list2">
            <li>
                <div class="left" style="margin-top: 0.2rem">
                    <img src="/img/a_06.png" alt="">
                </div>
                <div class="right r1">
                    <span>身份验证</span>
                    <span>资质验证</span>
                    <span>欺诈验测</span>
                    <span>涉诉、失信信息验证</span>
                </div>

            </li>
            <li>
                <div class="left" style="margin-top: 0.4rem">
                    <img src="/img/a1_09.png" alt="">
                </div>
                <div class="right r2">
                    <span>资料审核</span>
                    <span style="right:0.45rem">实地征信调查</span>
                    <span>还款能力评估</span>
                    <span style="right:0.45rem">授信额度决策</span>
                </div>

            </li>
            <li>
                <div class="left" style="margin-top: 0.4rem">
                    <img src="/img/a2_12.png" alt="">
                </div>
                <div class="right r3">
                    <span>大数据核验</span>
                    <span style="right:0.9rem">系统模型筛选</span>
                    <span>合同确认</span>
                    <span style="right:0.25rem">第三方权威机构认证</span>
                </div>

            </li>
            <li>
                <div class="left" style="margin-top: 0.4rem">
                    <img src="/img/a4_15.jpg" alt="" style="width: 1.21rem;height: 1.21rem;">
                </div>
                <div class="right r4">
                    <span>资产跟踪</span>
                    <span style="right:0.85rem">还款提醒 </span>
                    <span>逾期预警</span>
                    <span style="right:0.65rem">强大的清收</span>
                </div>

            </li>
        </ul>
    </div>
    <!--第三屏-->
    <div class="main3">
        <img src="/img/b7_05.jpg" alt="" class="mm">
        <ul  class="main3_list3">
            <li>
                <div class="div1" style="border:1px solid #4FA2FF;height: 1.4rem;">
                    <img src="/img/d4_03.jpg" alt="" style="width: 0.85rem;height: 0.9rem;margin: 0 0 0 0.5rem;vertical-align: middle;">
                    <span style="color: #4FA2FF;margin:0 0 0 0.7rem;vertical-align: middle;">坚持信息中介</span>
                </div>
                <div class="div2" style="background:#4FA2FF">
                    <p>铂恒金服坚持定位信息中介，不碰触撮合资金； 按照网贷P2P行业管理办法积极对接银行资金存管；</p>
                </div>
            </li>
            <li style="margin-top: 0.4rem;">
                <div class="div1" style="border:1px solid #60C3A4;height: 1.4rem;">
                    <img src="/img/d_35.png" alt="" style="width: 0.73rem;height: 0.75rem;margin: 0 0 0 0.5rem;vertical-align: middle;">
                    <span style="color: #60C3A4;margin:0 0 0 0.7rem;vertical-align: middle;">合格投资人措施</span>
                </div>
                <div class="div2" style="background:#60C3A4">
                    <p>平台对每位投资人进行手机号、身份证、银行卡的 实名且同名验证； 保障投资人在充值、提现等各个环节的账户安全 投资人提现仅限本人绑定的本人银行卡；</p>
                </div>
            </li>
            <li style="margin-top: 0.4rem;">
                <div class="div1" style="border:1px solid #FDCE77;height: 1.4rem">
                    <img src="/img/d1_38.png" alt="" style="width: 0.75rem;height: 0.56rem;margin: 0 0 0 0.5rem;vertical-align: middle;">
                    <span style="color: #FDCE77;margin:0 0 0 0.7rem;vertical-align: middle;">账户信息安全</span>
                </div>
                <div class="div2" style="background:#FDCE77;min-height: 0.8rem">
                    <p>投资人账户资金安全受签约中国人保公司承保， 当账户资金安全出现问题，由人保赔付；</p>
                </div>
            </li>
            <li style="margin-top: 0.4rem;">
                <div class="div1" style="border:1px solid #FB8895;height: 1.4rem">
                    <img src="/img/d2_41.png" alt="" style="width: 0.8rem;height: 0.82rem;margin: 0 0 0 0.5rem;vertical-align: middle;">
                    <span style="color: #FB8895;margin:0 0 0 0.7rem;vertical-align: middle;">在线电子合同法律保障</span>
                </div>
                <div class="div2" style="background:#FB8895">
                    <p>牵手E签宝电子签章，保障在线电子合同合法合规 实现在线投资人、借款人、担保方、平台方四方 电子签章、电子协议公正安全；</p>
                </div>
            </li>
            <li style="margin-top: 0.4rem;">
                <div class="div1" style="border:1px solid #FF9F58;height: 1.4rem">
                    <img src="img/d3_45.png" alt="" style="width: 0.81rem;height: 0.76rem;margin: 0 0 0 0.5rem;vertical-align: middle;">
                    <span style="color: #FF9F58;margin:0 0 0 0.7rem;vertical-align: middle;">自主研发的安全技术保障</span>
                </div>
                <div class="div2" style="background:#FF9F58">
                    <p>数据主动备份 三层防火墙隔离系统，有效的入侵防范及容灾备份； 确保数据安全 256位高强度SSL安全加密保障网站安全，防范钓鱼 网站和其他恶意模仿网站；</p>
                </div>
            </li>
        </ul>
    </div>
    <!--第四屏-->
    <div class="main4">
        <img src="/img/b8_08.jpg" alt="" class="zz">
        <ul  class="main4_list4" style="position: relative">

            <li>
               <p class="p2">1、采用最高安全级别SSL加密认证，用户信息均采用多重技术加密措施进行存储； </p>
                <p class="p2">2、引入阿里云云盾技术保驾护航，异地设有第二灾难应急备用服务器。 </p>
                <p class="p2">3、实行24小时全天候实时监控保护，保障交易环境的安全性和稳定性。 </p>

            </li>

        </ul>
    </div>

    <div class="main5">

        <img src="/img/b9_10.png" alt="" class="pp">
        <div class="main5_list5">
            <img src="/img/e1_53.jpg" alt="" style="width: 1.56rem;height: 0.46rem;position: absolute;top:-0.2rem;left:2.8rem">
            <li>
                <div style="padding: 0.7rem 0 0 1.2rem">
                    <p>合规审查</p>
                    <p>出具相关法律意见书，保证了债权形成和转让过程中合规合法性</p>
                </div>
            </li>
            <li>
                <div style="padding: 0.6rem 0 0 1.2rem">
                    <p>战略合作</p>
                    <p>铂恒金服与盈科律所签署战略合作模式，所有项目全程监控形成</p>
                </div>
            </li>
            <li>
                <div style="padding: 0.6rem 0 0 1.2rem">
                    <p>法律援助</p>
                    <p>专业的律师团队为平台保驾护航</p>
                </div>
            </li>
        </div>
    </div>
</div>

<% include ../parent/slide_nav.ejs %>
<script>
    $(".main3 .div1").click(function(){
        $(this).addClass("animated flipOutX")
        $(this).hide();
        $(this).next('.div2').addClass("animated flipInX")
        $(this).next('.div2').show();
    })
</script>
</body>
</html>