<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>安全保障</title>
    <script type="text/javascript" src="/js/rem.js"></script>
</head>
<style>
    .safe_container{
        width:100%;
        height:auto;
    }
    .banner{
        width: 100%;
        height:10.66666667rem/* 500px */;
        background: url("/img/production_introduce/safe_banner.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
    }
    .bank_management{
        width: 100%;
        height:12.8rem/* 600px */;
        background: #fff;
        background: url("/img/production_introduce/cunguan.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .safe_container>div>h4{
        font-size: .768rem/* 36px */;
        font-weight: bolder;
        letter-spacing: 0.2rem;
        text-align: center;
        margin-top: 1.28rem/* 60px */;
        color: #374d66;
    }
    .safe_container>div>p{
        padding:.64rem/* 30px */;
        box-sizing: border-box;
        font-size: .512rem/* 24px */;
        color: #374d66;
        text-indent: 1rem;
        line-height: 1rem;
        margin-top: 5.5rem;
    }
    .risk_management{
        width: 100%;
        height:23.46666667rem/* 1100px */;
        background: #f2f5f8;
        overflow: hidden;
        background: url("/img/production_introduce/risk.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
    }
    .Button.Block {
        width:10.66666667rem/* 500px */ ;
        height: 8.53333333rem/* 400px */ ;
        display: inline-block;
        overflow: hidden;
    }
    .Button {
        margin: 0;
        /*background-color: #fff;*/
        background-position: center center;
        background-repeat: no-repeat;
        color: #374d66;
        text-shadow: none;
        vertical-align: middle;
        cursor: pointer;
        border: 0;
        -ms-transition: color 300ms ease, background-color 300ms ease;
        -webkit-transition: color 300ms ease, background-color 300ms ease;
        -moz-transition: color 300ms ease, background-color 300ms ease;
        -o-transition: color 300ms ease, background-color 300ms ease;
        transition: color 300ms ease, background-color 300ms ease;
        border-radius: 0.2rem;
    }
    .box1{
        box-shadow: 0 0 0.5rem #5589b4;
        background: #fff;
    }
    .Button>h5{
        text-align: center;
        font-size: .64rem/* 30px */;
        margin-top:.42666667rem/* 20px */ ;
    }
    .Button>p{
        width: 100%;
        height: auto;
        font-size:.46933333rem/* 22px */ ;
        padding: .42666667rem/* 20px */;
        padding-top: .384rem/* 18px */;
        letter-spacing: 0.07rem;
        box-sizing: border-box;
        line-height: 0.6rem;
        color: #5589b4;
    }
    .safe{
        width: 100%;
        height:11.09333333rem/* 520px */;
        background: url("/img/production_introduce/safe.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .data_safe{
        width: 100%;
        height: 12.16rem/* 570px */;
        background: url("/img/production_introduce/data_safe.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .voucher{
        width: 100%;
        height:14.72rem/* 690px */;
        background: url("/img/production_introduce/voucher.png");
        background-size:100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .guarantee{
        width: 100%;
        height:14.93333333rem/* 700px */;
        background-color: #f2f5f8;
        overflow: hidden;
    }
    .guarantee>ul{
        width: 100%;
        height: auto;
    }
    .guarantee>ul>li{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        margin:0 auto;
        margin-top:1.28rem/* 60px */ ;
        box-sizing: border-box;
    }
    .guarantee>ul>li>div{
        display: inline-block;
    }
    .icon{
        width: 2.176rem/* 102px */;
        height: 2.21866667rem/* 104px */
    }
    .icon1{
        background: url("/img/production_introduce/icon1.png");
        background-size:82%;
        background-repeat: no-repeat;
    }
    .icon2{
        background: url("/img/production_introduce/icon2.png");
        background-size:90%;
        background-repeat: no-repeat;
    }
    .icon3{
        background: url("/img/production_introduce/icon3.png");
        background-size:90%;
        background-repeat: no-repeat;
    }
    .texts{
        width: 9.81866667rem/* 554px */;
        height:auto;
        vertical-align: top;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        color: #374d66;
    }
    .texts>div{
        flex:1;
        -webkit-flex: 1;
    }
    .texts>div:first-of-type{
        font-size:.64rem/* 30px */;
        margin-bottom: 0.2rem;
    }
    .texts>div:last-of-type{
        font-size:.512rem/* 24px */
    }
    .box{
        box-shadow: 0 0 0.5rem #e5f4fe !important;
    }
</style>
<body>
    <div class="safe_container">
        <div class="banner"></div>
        <!--<div class="bank_management">-->
            <!--<h4>银行资金存管</h4>-->
            <!--<p>-->
                    <!--铂恒金服与富滇银行开展了资金银行存管战略合作，用户资-->
                <!--金的流转在存管系统的账户体系内完成。出借人和借款人的资金-->
                <!--直接通过银行存管账户进行操作，平台无法触碰资金，资金动态-->
                <!--实时可查，确保投资人自己安全。-->
            <!--</p>-->
        <!--</div>-->
        <div class="risk_management">
            <h4>风控审核</h4>
            <p>
                    铂恒金服针对每一个撮合产品类别进行全流程的跟进，对贷
                款需求、贷款资质情况、资金去向和回款途径清楚明晰，从项目
                接收项目审核到运维监测，均由近十年金融运营经验的专业风险
                管理团队把关。
            </p>
            <div class="flipster" id="flipster">
                <ul style="padding: 1rem;box-sizing: border-box">
                    <li>
                        <a class="Button Block box1" >
                            <h5>项目进行 随时预警跟进</h5>
                            <p style="margin-top: 1rem">
                                借款人及借款信息披露，确保信息透明;<br>
                                随时监控跟踪项目变化，及时采取相关风险应对措施;<br>
                                定期提醒，定期核查，运用“同盾科技”不定期抽查客户财务变化。
                            </p>
                        </a>
                    </li>
                    <li>
                        <a  class="Button Block box1">
                            <h5>项目到期 到期代偿，保障用户利益</h5>
                            <p>
                                质押车辆放入指定的车库，如严重逾期由第三方变现处理;<br>
                                完整催收体系，降低逾期风险，保障用户权益;<br>
                                到期前3天短信提醒还款，自动语音电话提示;<br>
                                到期到逾期3天人工电话催收;<br>
                                逾期5到10天人工上门催收;<br>
                                逾期15天移交合作律所或委外催收;<br>
                                严重逾期拉入信用黑名单，报送网络金融征信系统。

                            </p>
                        </a>
                    </li>
                    <li>
                        <a  class="Button Block box1">
                            <h5>项目选择 严格源头把控</h5>
                            <p>
                                高危人群过滤，清除高风险行业并筛选出高净值人群;<br>
                                反欺诈分析，第三方欺诈系统结合自有信用数据库;<br>
                                实地项目调查，实地征信，多方位尽调借款人真实情况;<br>
                                多维度分析审查，专业风控团队覆盖所有风险点;<br>
                                综合评估，签署协议及合同，落实具体风控措施。
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="safe">
            <h4>银行级系统安全</h4>
            <p style="margin-top: 5.5rem">首批获得icp许可证，并通过公安部门信息安全等级保护三级，达到银行级别的系统安全.</p>
        </div>
        <div class="data_safe">
            <h4>数据安全</h4>
            <p style="margin-top: 6.2rem">与阿里金融云合作，起凭借十多年专业云安全经验，通过弹性计算及非结构化数据存储及网络加速技术保障您的账户数据全.</p>
        </div>
        <div class="voucher">
            <h4>电子凭证存储</h4>
            <p style="margin-top: 5.2rem">
                与e签宝达成合作，e签宝通过公钥密码技术、第三方电子认
                证技术、时间戳技术来生成可靠的电子签名。用户可以随时
                随地、简单便捷地完成具有法律效力的电子文书在线签署。
                在铂恒金服的所有原始投资记录、资金数据和项目协议都会
                以电子凭证的形式在e签宝实时存储，存储内容可供投资人
                及全国公证处实时查询。
            </p>
        </div>
        <div class="guarantee">
            <h4>法律保障</h4>
            <ul>
                <li>
                    <div class="icon icon1"></div>
                    <div class="texts">
                        <div>合规审查</div>
                        <div>
                            出具相关法律意见书，保证了债权行使和转让过程中合规合法性
                        </div>
                    </div>
                </li>
                <li>
                    <div class="icon icon2"></div>
                    <div class="texts">
                        <div>战略合作</div>
                        <div>
                            铂恒金服与盈科律所签署战略合作模式，所有项目
                            全程监控形成
                        </div>
                    </div>
                </li>
                <li>
                    <div class="icon icon3"></div>
                    <div class="texts">
                        <div>法律援助</div>
                        <div>
                            专业的律师团队为平台保驾护航
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

<script>
    $(function(){ $(".flipster").flipster({ style: 'carousel', start: 0 }); });
</script>

</html>