/*活动*/
.active_bg{height:355px;width:100%;background: url("/img/acbj.jpg")}
.active_main{background: #fef5ea}
.active_ul li{height:500px;padding: 0 0 15px 0;text-align:center;float:left;margin-left:100px;margin-bottom:65px;    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;}
.active_ul{width:1100px;margin:0 auto;overflow: auto;padding:70px 10px 120px 20px;}
.active_ul li img{height:346px;width:464px;}
.active_ul li .p1{font-size:18px;margin:20px 0 15px 0}
.active_ul li .p2{color:#fb735e}
.active_ul li .a1{width:190px;height:53px;color:#fff;font-size:20px;display:block;text-align:center;border-radius: 5px;margin:20px auto 0;}
.active_ul li i{width:190px;height:48px;display:block;line-height: 48px;border-radius: 5px;}
.active_ul li:nth-child(odd){margin-left:0}
.active_ul li>div{box-shadow: 0px 10px 5px #fee0d3;background: #fae2df;padding:15px;}
.active_ul li .a1_wait{background: #e74028}
.active_ul li .a1_com{background: #e38634}
.active_ul li .a1_end{background: #cacbcd}
.active_ul li .a1_wait i{background: #fb735e}
.active_ul li .a1_com i{background: #fca339}
.active_ul li .a1_end i{background: #eaebee}
.active_ul li.comClass>div{background: #fbe5cc;    box-shadow: 0px 10px 5px #fce1c0;}
.active_ul li.endClass>div{background: #f6f7f8;    box-shadow: 0px 10px 5px #efe8e0;}

.active_ul li.endClass .p2{color:#999999}
.active_ul li.comClass .p2{color:#fca339}
.active_ul li:nth-child(even):hover{
    transform: rotate(5deg);
}
.active_ul li:nth-child(odd):hover{
    transform: rotate(-5deg);
}