<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>关于充值投资</title>
    <link rel="stylesheet" href="/css/base/BH_base.css">
    <link rel="stylesheet" href="/css/BH/rule.css">
    <style>
        .rule-page{padding-bottom: 1rem;}
    </style>
</head>
<body>
    <div class="rule-page">
        <div class="rule-title">我们如何充值？</div>
        <ul class="rule-list">
            <li>四个步骤就可以充值成功： </li>
            <li>①登录账户，进入【我的账户】，点击“充值”；</li>
            <li>②输入充值金额；</li>
            <li>③可以选择快捷充值或者网银充值；</li>
            <li>④付款后，显示成功付款并跳转到铂恒金服页面，显示充值成功。</li>
        </ul>

        <div class="rule-title">充值支持哪些银行？</div>
        <ul class="rule-list">
            <li>充值页面会提示您支持充值的银行。点击选择不同银行可查看对应银行的充值限额。</li>
        </ul>

        <div class="rule-title">铂恒金服支持哪些网银？</div>
        <ul class="rule-list">
            <li>为铂恒金服提供第三方支付上海富友，支持网银包括：工、农、中、建，各家股份制银行、地方商业银行在内的多家银行进行合作。
                具体信息请登录后，在【我的账户】页面中点击“充值” 查看。</li>
        </ul>

        <div class="rule-title">充值时会扣手续费吗？</div>
        <ul class="rule-list">
            <li>充值对投资人是免费的，充值手续费由铂恒金服平台承担。</li>
        </ul>

        <div class="rule-title">是否可以用信用卡充值？</div>
        <ul class="rule-list">
            <li>暂时不支持信用卡进行充值。</li>
        </ul>

        <div class="rule-title">投资如何进行投资？</div>
        <ul class="rule-list">
            <li>根据项目类型、项目周期、年化利率选择标的投资。</li>
        </ul>
    </div>
</body>
</html>