<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>关于回款提现</title>
    <link rel="stylesheet" href="/css/base/BH_base.css">
    <link rel="stylesheet" href="/css/BH/rule.css">
    <style>
        .rule-page{padding-bottom: 1rem;}
    </style>
</head>
<body>
    <div class="rule-page">
        <div class="rule-title">如何提现？</div>
        <ul class="rule-list">
            <li>三个步骤就可以提现成功，在电脑上：</li>
            <li>①登录账户，进入【我的账户】，点击“提现”；</li>
            <li>②输入可提现金额；</li>
            <li>③显示提现成功，预计1-2个工作日到账。</li>
        </ul>

        <div class="rule-title">提现银行卡可以有几张？</div>
        <ul class="rule-list">
            <li>目前只能绑定一张银行卡。</li>
        </ul>

        <div class="rule-title">如何绑定银行卡，绑定的银行卡有什么要求？</div>
        <ul class="rule-list">
            <li>①点击进入【我的账户】--【安全中心】--【我的银行卡】，点击【添加银行卡】，根据提示信息完成操作；</li>
            <li>②绑定的银行卡户名必须是与该账号实名认证的姓名一致；</li>
            <li>③该银行卡只用于提现，无需开通网银；</li>
        </ul>

        <div class="rule-title">更换银行卡条件，换卡材料如下：</div>
        <ul class="rule-list">
            <li>①提供身份证正反面、新银行卡照片；</li>
            <li>②提供本人与身份证、新银行卡的合照；</li>
            <li>③若是因原银行卡丢失换卡，需提供原银行卡的挂失证明和新卡的开户证明；</li>
            <li>④商户需要审核本人与身份证上的照片是否一致，原银行卡和新银行卡是否和持卡人提供的资料一致。</li>
        </ul>

        <div class="rule-title">投资人提现，需要支付哪些费用？</div>
        <ul class="rule-list">
            <li>每月超过3次提现，从第4笔起每笔需支付2元提现手续费。</li>
        </ul>

        <div class="rule-title">提现是否会冻结资金？</div>
        <ul class="rule-list">
            <li>提现后资金处于“提现在途”状态，可用余额会相应减少。提现在途的资金不能投资，如有需要请联系在线客服取消提现申请。</li>
        </ul>

        <div class="rule-title">忘记交易密码怎么办？如何找回？</div>
        <ul class="rule-list">
            <li>①交易密码是不同于登录密码的资金安全保护机制，是特别用来保护您的资金安全的支付密码。即使您账户密码的处于异常状态，有交易密码就可以确保您的账户资金不被他人挪用。</li>
            <li>②如果你忘记了交易密码，登录“账户中心”—“安全设置”中进行修改。</li>
        </ul>

        <div class="rule-title">原手机停机了，要提现怎么办？</div>
        <ul class="rule-list">
            <li>您需要提供您的用户名、新手机号、手持身份证照片（身份证上号码要清晰可见）等实名资料给客服，客服收到所有实名资料确保是您本人之后会帮您处理好。</li>
        </ul>
    </div>
</body>
</html>