<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>其他问题</title>
    <link rel="stylesheet" href="/css/base/BH_base.css">
    <link rel="stylesheet" href="/css/BH/rule.css">
    <style>
        .rule-page{padding-bottom: 1rem;}
    </style>
</head>
<body>
    <div class="rule-page">
        <div class="rule-title">如何邀请好友？</div>
        <ul class="rule-list">
            <li>PC端：官网登录铂恒金服，【我的账户】-【奖励管理】-【邀请有礼】，发送您的邀请码或者邀请链接邀请好友注册。</li>
        </ul>

        <div class="rule-title">积分怎么获得？怎么使用积分？</div>
        <ul class="rule-list">
            <li>您可以完善账户中心的资料获得更多的积分，投标也可以获得更多的积分，后期app开发后，可在上面使用积分兑换商品。</li>
        </ul>

        <div class="rule-title">铂恒金服支持哪些浏览器？</div>
        <ul class="rule-list">
            <li>铂恒的网站操作支持大部分常见浏览器，包括IE8及以上的版本，谷歌浏览器Chrome，360浏览器，搜狗浏览器等。</li>
        </ul>

        <div class="rule-title">如何保护个人资料和隐私？</div>
        <ul class="rule-list">
            <li>为保护您的账号安全和隐私：</li>
            <li>①请不要随便通过陌生人的好友申请；</li>
            <li>②请保护好您的所有密码，不要在交流过程中将您的密码告诉任何人；</li>
            <li>③请不要在网站公共区域发布的信息中包含您的身份证号码、真实姓名、联系方式、家庭住址、工作单位、收入状况等；</li>
            <li>④请不要相信冒充系统管理员的身份给你发的消息。</li>
        </ul>

        <div class="rule-title">注册账号后可以注销吗？</div>
        <ul class="rule-list">
            <li>账号注册后不能申请注销。</li>
        </ul>
    </div>
</body>
</html>