<!DOCTYPE HTML>
<html>
<% include ../main/top.ejs %>
<body>

<div class="pd-20">
    <form class="form form-horizontal" id="form">
        <div class="row cl">
            <label class="form-label col-xs-10 col-sm-3"><span class="c-red">*</span>您正在操作发货，输入备注后，点击发货</label>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>发货备注：</label>

            <div class="formControls col-xs-8 col-sm-5" style="width:70%;">
                <input type="hidden" id="prizeId" value="<%= prize.id %>"/>
                <textarea id="memo" onkeyup="textarealength(this,200)" nullmsg="备注不能为空！" dragonfly="true"
                          datatype="*2-200" placeholder="最少输入2个字符" class="textarea" rows="" cols=""
                          style="width: 100%;"></textarea>
            </div>

        </div>
        <div class="row cl">
            <div class="col-10 col-offset-3">
                <button id="sub" class="btn btn-primary radius" type="button"><i
                            class="Hui-iconfont">&#xe632;</i> 发货
                </button>
                <button class="btn btn-default radius" onclick="layer_close()" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
</body>
<% include ../main/bottom.ejs %>
<script type="text/javascript">
    $("#sub").click(function () {
        var memo = $('#memo').val();
        if (memo == null || memo == '') {
            Huimodal_alert('备注不能为空', 2000, function () {
            });
            return false;
        }
        $.ajax({
            url: '/integralmall/sendPrizeById',
            type: 'post',
            data: {prizeId: $("#prizeId").val(), memo: $('#memo').val()},
            success: function (msg) {
                if (msg.err) {
                    Huimodal_alert(msg.err, 1000, function () {
                    });
                }
                else {
                    Huimodal_alert('操作成功', 2000, function () {
                        parent.location.reload();
                        layer_close();
                    });

                }
            }
        })

    })

</script>
</html>