<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>充值规则</title>
    <link rel="stylesheet" href="/css/base/BH_base.css">
    <link rel="stylesheet" href="/css/BH/rule.css">
</head>
<body>
    <div class="rule-page">
        <div class="rule-title">充值规则:</div>
        <ul class="rule-list">
            <li>1、为保障资金安全，建议充值提现采用同卡进出原则，即提现银行卡最好与充值银行卡一致；</li>
            <li>2、判定风险、可以交易的提现，充值金额将通过第三方平台退回原卡；</li>
            <li>3、为了您的账户安全，请在充值前进行实名认证、银行卡绑定以及交易密码设置；</li>
            <li>4、禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用；</li>
            <li>5、充值前请确认您的银行卡限额，如充值成功后未能及时到账，请联系客服。</li>
        </ul>

    </div>
</body>
</html>
