<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap-modal/2.2.4/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="/lib/bootstrap-modal/2.2.4/bootstrap-modal.js"></script>
<script type="text/javascript" src="/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.js"></script>

<script type="text/javascript" src="/js/H-ui.js"></script>
<script type="text/javascript" src="/js/H-ui.admin.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="/lib/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/lib/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/global/fields.js"></script>
<script type="text/javascript" src="/js/upload.js"></script>
<script type="text/javascript" src="/js/api.js"></script>
<script type="text/javascript" src="/js/area.js"></script>
<a data-toggle="modal" href="#myModal" class="btn btn-primary size-L" id="confirm" style="display: none;"></a>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h3 id="confirmTitle"></h3><a class="close" data-dismiss="modal" aria-hidden="true"
                                      href="javascript:void();">×</a>
    </div>
    <div class="modal-body">
        <p id="confirmContent"></p>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" aria-hidden="true" class="btn btn-primary" id="confirmOk">确定</button>
        <button id="confirmNo" class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>
<script>
    if ('<%= (alert || '') %>') alert('<%- alert %>', true);
    var _gbl =<%- JSON.stringify(_global) %>;
    var _bank =<%- JSON.stringify(_bank) %>;
</script>

