<!DOCTYPE HTML>
<html>
<% include ../main/top.ejs %>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 邀请记录 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="">
        日期范围：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'eTime\')||\'%y-%M-%d\'}'})" id="bTime" class="input-text Wdate" value="" style="width:120px;" name="bTime" readonly="true">
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'bTime\')}',maxDate:'%y-%M-%d'})" id="eTime" class="input-text Wdate" style="width:120px;" value="" name="eTime" readonly="true">
        <input type="text" id="param" placeholder="邀请人手机号码、姓名" style="width:350px" class="input-text">
        <button name="" id="" class="btn btn-success" type="button" onclick="ZC_api.loadInviteList(1,20,false)"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        <button name="" id="" class="btn btn-success" type="button" onclick="ZC_api.loadInviteList(1, $('#pageTotal').val(),true);"><i class="Hui-iconfont">&#xe644;</i> 导出</button>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">邀请时间</th>
                <th width="40">邀请人手机号</th>
                <th width="60">邀请人姓名</th>
                <th width="40">被邀请人手机号</th>
                <th width="60">被邀请人姓名</th>
                <th width="100">被邀请人身份证号</th>
                <th width="60">有效投资人</th>
            </tr>
            </thead>
            <script type="text/template" id="invite_tmpl">
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>{time}</td>
                    <td>{inviteMobile}</td>
                    <td>{inviteRealName}</td>
                    <td>{mobile}</td>
                    <td>{realName}</td>
                    <td>{idCard}</td>
                    <td>{investCount}</td>
                </tr>
            </script>
            <tbody id="invite_list">

            </tbody>
        </table>
        <div id="page"></div>
        <input type="hidden" id="pageTotal"/>
    </div>
</div>
<% include ../main/bottom.ejs %>
<script type="text/javascript">
    ZC_api.loadInviteList(1, 20,false);
</script>

</body>

</html>