<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/BH/security/ensure.css"/>
    <title><%= com.env.seo.title %>质保服务专款</title>
</head>
<body>

<% include ../parent/top.ejs %>
    <div class="ensure-w">
        <div class="ensure">
            <img src="/img/suu2.png">


        </div>
    </div>



<% include ../parent/bottom.ejs %>
</body>
</html>