<!DOCTYPE html>
<html lang="en" style="background: #f1f1f1">
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <title><%= com.env.seo.title %>自动投标说明</title>
</head>

<body>
<div class="header" ><a class="iconfont" href="/account/autoinvest"><img src="/img/fh1.png" class="fh_img"></a>自动投标说明 </div>
<div class="rule_warp">
    <p class="p1">*温馨提示</p>
    <div class="rule_div">
        <p>1、 自动购买成功后，排名移到队尾；</p>
        <p>  2、 理财产品成功发布开放购买后，您所开启的自动购买功能开始运作；</p>
        <p>  3、 修改、关闭自动购买功能后再次开启，排名移到队尾；</p>
        <p>  4、 账户可用余额小于产品起购金额时，系统会自动跳过您的自动购买功能，排名移到队尾；</p>
        <p>  5、 自动投标开启后不能使用红包，使用红包前请关闭自动投标功能，红包使用要手动投标。</p>
    </div>
</div>

</body>
</html>

