<!DOCTYPE html>
<html lang="en" style="background: #f1f1f1">
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <title><%= com.env.seo.title %>充值记录</title>
</head>
<body>
<div class="header show_head"><a class="iconfont" href="/account/recharge"><img src="/img/fh2.png" class="fh_img"></a>充值记录<a href="/account/rechargeRule" class="rule">充值规则</a></div>



<script type="text/template" id="recharge_tmpl">
    <li>
        <div class="pull-left">
           {isCompletedImg}
        </div>
        <div class="pull-left">
            <P class="p1">充值金额：{amount}元</P>
            <P>账户余额(元)：{balance}</P>
            <P>充值时间：{time}</P>
            <P>状态：{isCompleted}</P>
        </div>
    </li>
</script>

<ul class="recharge_list" id="recharge_list">

</ul>

<input type="hidden" value="1" id="pageNo"/>


<% include ../parent/slide_nav.ejs %>
<script type="text/javascript">
    ZC_api.loadRecharges(1, 10);
    $('#pageNo').val(1);
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight == scrollHeight) {
            $.ShowLoadIng();
            var pageNo = parseInt($('#pageNo').val()) + 1;
            ZC_api.loadRecharges(pageNo, 10, '');
        }
    });
</script>
</body>
</html>
