<!DOCTYPE html>
<html lang="en" style="background: #f1f1f1">
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <title><%= com.env.seo.title %>提现</title>
</head>

<body>
<div class="header" ><a class="iconfont" href="/account/rechargelist"><img src="/img/fh1.png" class="fh_img"></a>充值规则 </div>
<div class="rule_warp">
    <p class="p1">*温馨提示</p>
    <div class="rule_div">
        <p>1、为保障资金安全，建议充值提现采用同卡进出原则，即提现银行卡最好与充值银行卡一致；</p>
        <p>    2、判定风险、可以交易的提现，充值金额将通过第三方平台退回原卡；</p>
        <p>   3、为了您的账户安全，请在充值前进行实名认证、银行卡绑定以及交易密码设置；</p>
        <p>  4、禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用；</p>
        <p>  5、充值前请确认您的银行卡限额，如充值成功后未能及时到账，请联系客服。</p>
    </div>
</div>

</body>
</html>

