<!DOCTYPE html>
<html lang="en" style="background: #f1f1f1">
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <title><%= com.env.seo.title %>提现</title>
</head>

<body>
    <div class="header" ><a class="iconfont" href="/account/withdrawlist"><img src="/img/fh1.png" class="fh_img"></a>提现规则 </div>
    <div class="rule_warp">
    <p class="p1">*温馨提示</p>
<div class="rule_div">
    <p>提现时间：</p>
    <p>1、工作日12:00之前申请的提现当日处理完成，12:00之后申请的提现下个工作日处理完成；</p>
    <p>2、周五12:00之后的提现申请下个工作日（周一）处理完成；</p>
    <p>3、由于不同银行处理业务的时间不同，具体到账时间以银行处理时间为准；</p>
    <p>4、节假日及周末，实际到账时间以银行处理时间为准；</p>
    <p>5、（国家法定假日除外）如遇国家法定节假日以网站公告为准。</p>


    <p>提现规则：</p>
    <p>1、提现请先绑定银行卡，然后申请提现；</p>
    <p>2、提现免费，100起提；</p>
    <p>3、您所充值金额若未投资申请提现，将按千分之五收取额外提现费用；</p>
    <p>4、如果提现金额在通过审核后48小时内未到账，请及时联系客服：400-1888-686。</p>

</div>
    </div>

</body>
</html>

