<!DOCTYPE HTML>
<html>
<% include ../main/top.ejs %>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务管理 <span class="c-gray en">&gt;</span> 待审批提现 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <div class="">
        日期范围：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'eTime\')||\'%y-%M-%d\'}'})" id="bTime" class="input-text Wdate" value="" style="width:120px;" name="bTime" readonly="true" placeholder="审批时间">
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'bTime\')}',maxDate:'%y-%M-%d'})" id="eTime" class="input-text Wdate" style="width:120px;" value="" name="eTime" readonly="true" placeholder="审批时间">
        <div style="width:180px;float: left;">
            <span class="select-box" style="width:160px;">
				<select class="select" id="state">
                    <option value="">全部</option>
                    <option value="<%= _global.state.Wait.v %>" selected="selected">未审批</option>
                    <option value="<%= _global.state.Complete.v %>">已通过</option>
                    <option value="<%= _global.state.Cancel.v %>">未通过</option>
                </select>
            </span>
        </div>
        <input type="text" id="param" placeholder="手机号码，姓名" style="width:350px" class="input-text"/>
        <button name="" id="" class="btn btn-success" type="button" onclick="ZC_api.loadAlreadyAuditWithdrawList(1,20,false)"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        <button name="" id="" class="btn btn-success" type="button" onclick="ZC_api.loadAlreadyAuditWithdrawList(1, $('#pageTotal').val(),true);"><i class="Hui-iconfont">&#xe644;</i> 导出</button>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">提现时间</th>
                <th width="60">手机号</th>
                <th width="60">真实姓名</th>
                <th width="80">身份证号</th>
                <th width="60">提现金额</th>
                <th width="60">到账金额</th>
                <th width="60">提现扣除</th>
                <th width="80">提现至银行卡</th>
                <th width="80">审核时间</th>
                <th width="80">审核人</th>
                <th width="120">审核意见</th>
                <th width="120">审批意见</th>
                <th width="80">审批时间</th>
                <th width="80">审批人</th>
                <th width="40">状态</th>
                <th width="40">操作</th>
            </tr>
            </thead>
            <script type="text/template" id="withdraw_tmpl">
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>{time}</td>
                    <td>{mobile}</td>
                    <td>{realName}</td>
                    <td>{idCard}</td>
                    <td>{amount}</td>
                    <td>{arrive_amount}</td>
                    <td>{allFee}</td>
                    <td>{cardId}</td>
                    <td>{auditTime}</td>
                    <td>{auditSuper}</td>
                    <td>{memo}</td>
                    <td>{payMemo}</td>
                    <td>{payTime}</td>
                    <td>{paySuper}</td>
                    <td>{state}</td>
                    <td>{audit}</td>
                </tr>
            </script>
            <tbody id="withdraw_list">
            </tbody>
        </table>
        <div id="page"></div>
        <input type="hidden" id="pageTotal"/>
    </div>
</div>
</body>
<% include ../main/bottom.ejs %>
<script type="text/javascript">
    load();
    function load() {
        ZC_api.loadAlreadyAuditWithdrawList(1, 20, false);
    }
    function showPay(id) {
        layer_show('审批提现', '/account/approve?id=' + id,  500, 450);
    }
</script>
</html>