<!DOCTYPE html>
<html lang="en" style="background: #f1f1f1">
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <title><%= com.env.seo.title %>帮助中心</title>
</head>
<body>
    <div class="header" ><a class="iconfont" href="/aboutus"><img src="/img/fh1.png" class="fh_img"></a>帮助中心</div>
    <ul class="help_list" style="padding-top:0.88rem;margin-top:0;font-size: 0.28rem">
        <li style="margin-top: 0.2rem;">
            <a href="/list1">注册登入<span class="iconfont">&#xe644;</span></a>
        </li>
        <li>
            <a href="/list2">充值投资<span class="iconfont">&#xe644;</span></a>
        </li>
        <li>
            <a href="/list3">回款提现<span class="iconfont">&#xe644;</span></a>
        </li>
        <li>
            <a href="/list4">铂恒与安全保障<span class="iconfont">&#xe644;</span></a>
        </li>
        <li>
            <a href="/list5">其他问题<span class="iconfont">&#xe644;</span></a>
        </li>
        <li>
            <a href="/list6">流程指引<span class="iconfont">&#xe644;</span></a>
        </li>
    </ul>
    <ul class="help_list">
        <li> <a href="javascript:" style="font-size: 0.28rem">客服热线<span class="pull-right">
                    <p>400-1888-686</p>
                       <p>QQ群：485696235</p>
                </span></a></li>
        </ul>



</body>
</html>