.inv_main .inv_ul{height:65px;width:100%;border:1px solid #fe8749;padding:40px 0;overflow:hidden;}
.inv_main .inv_ul li{float:left;width:33.2%;}
.inv_main .inv_ul li.fir{text-align:center;color:#666;font-size:20px;line-height: 65px;}
.inv_main .inv_ul li:nth-child(2){border:1px solid #fe8749;border-width:0 1px;}
.inv_main .inv_ul li.sed p{color:#666;text-indent: 55px;}
.inv_main .inv_ul li.sed p span{margin-left:15px;color:#fe8749}
.inv_main .inv_ul li.sed p:first-child{margin-bottom:40px;}
.inv_main .inv_ul li.fir span{color:#fe8749;font-size:24px;margin-left: 10px;}

.sx_div{margin:51px 0 12px 0}
.sx_div select{width:92px;border:1px solid #ebebeb;height:32px;margin:0 10px;}
.sx_div input{height:28px;width:150px; background: url(/img/rl.png) no-repeat ;border:1px solid #ebebeb;background-position: 115px 5px;text-indent: 15px;}
.sx_div .btn{width:85px;height:32px;color:#fff;background: #fe8749;padding:0;line-height: 32px;}
.sx_div .sp2{margin:0 8px;}