<!DOCTYPE html>
<html lang="en" style="background: #f1f1f1">
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <title><%= com.env.seo.title %>关于我们</title>
</head>
<body>
    <div class="header " ><a class="iconfont" href="/aboutus"><img src="/img/fh1.png" class="fh_img"> </a>关于我们</div>
    <div class="about_bn">
      <img src="/img/ab4.png">
    </div>

    <!--<div class="about_list">-->
        <!--<a href="/aboutus/company">-->
            <!--<img src="/img/gs.png">-->
            <!--<p>公司简介</p>-->
        <!--</a>-->
        <!--<a href="javascript:">-->
            <!--<img src="/img/an.png">-->
            <!--<p>安全保障</p>-->
       <!--</a>-->
        <!--<a href="javascript:">-->
            <!--<img src="/img/tuan.png">-->
            <!--<p>团队管理</p>-->
        <!--</a>-->
    <!--</div>-->

    <ul class="about_ul1">
        <li>
            <a href="/aboutus/company">
                <span class="iconfont" style="color:#66c28f">&#xe610;</span>
                公司简介
                <span class="pull-right iconfont">&#xe644;</span>
            </a>
        </li>
        <li>
            <a href="/aboutus/team">
                <span class="iconfont" style="color:#66c28f"><img src="/img/tuand.png" style=" width: 0.35rem;float: left;margin:0.32rem 0rem 0 0"> </span>
                运营团队
                <span class="pull-right iconfont">&#xe644;</span>
            </a>
        </li>
        <li>
            <a href="/security">
                <span class="iconfont" style="color:#F4C600">&#xe60e;</span>
                安全保障
                <span class="pull-right iconfont">&#xe644;</span>
            </a>
        </li>
        <li>
            <a href="/aboutus/announce_list">
                <span class="iconfont" style="color:#66c28f">&#xe625;</span>
                平台公告
                <span class="pull-right iconfont">&#xe644;</span>
            </a>
        </li>
        <li>
            <a href="/aboutus/news_list">
                <span class="iconfont" style="color:#279cf7">&#xe687;</span>
                媒体资讯
                <span class="pull-right iconfont">&#xe644;</span>
            </a>
        </li>
        <!--<li style="margin-top:0.2rem">-->
            <!--<a href="/suggest">-->
                <!--<span class="iconfont" style="color:#1BBFDD">&#xe64c;</span>-->
                <!--意见反馈-->
                <!--<span class="pull-right iconfont">&#xe644;</span>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="">-->
                <!--<span class="iconfont" style="color:#eb4f38">&#xe654;</span>-->
                <!--鼓励我们-->
                <!--<span class="pull-right iconfont">&#xe644;</span>-->
            <!--</a>-->
        <!--</li>-->

    </ul>
</body>
</html>