<!DOCTYPE html>
<html lang="en" style="background: #f1f1f1">
<head>
    <meta charset="UTF-8">
    <% include ../parent/static.ejs %>
    <title><%= com.env.seo.title %>关于我们</title>
</head>
<body>
<div class="header " ><a class="iconfont" href="/aboutus"><img src="/img/fh1.png" class="fh_img"> </a>运营团队</div>

<ul class="team_ul">
    <li>
        <div class="div1">
            <div class="pull-left">
                <img src="/img/C88A19212.png" class="img1">
            </div>
            <div class="pull-left">
                <h3>朱 明 CEO</h3>

            </div>
        </div>
        <div class="div2">
            <p>朱明，现任杭州博虹金融信息服务有限公司CEO，同时任世界浙商联盟理事，兼任贝壳社贝壳大学创业学院校董以及BAT俱乐部天使投资学院校董，曾被《中国国际财经》杂志评选为2016年中国经济年度创新人物，具备多年金融行业投融资经验及丰富上市公司改制、股权投资工作经验，曾参与主持多家公司资产并购及上市公司非公开发行项目，在项目风险掌控和风险评估方面具有独到见解。</p>
        </div>
    </li>

    <li>
        <div class="div1">
            <div class="pull-left">
                <img src="/img/C88A42431.png" class="img1">
            </div>
            <div class="pull-left">
                <h3>刘代伟 运营总监</h3>

            </div>
        </div>
        <div class="div2">
            <p>刘代伟，现任杭州博虹金融信息服务有限公司运营总监，毕业于中国科学技术大学经济技术学院，具备十年金融行业从业经验，拥有证券从业资格证以及丰富的证券及资产管理公司管理岗位任职经验，擅长于产品的管理，制度以及流程的优化，对行政体制制度管理及绩效考核方面有深刻的理解及素养。</p>
        </div>
    </li>
</ul>

</body>
</html>