<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>红包使用规则</title>
    <link rel="stylesheet" href="/css/base/BH_base.css">
    <link rel="stylesheet" href="/css/BH/rule.css">
</head>
<body>
    <div class="rule-page">
        <div class="rule-title">红包使用规则:</div>
        <ul class="rule-list">
            <li>1、 红包分为抵扣红包和现金红包；
            <li>2、 抵扣红包使用条件详见红包标注，您在购买时可直接抵扣金额，如购买1000元使用8元抵扣红包，则实际只需支付992元；</li>
            <li>3、 自动投标开启后不能使用抵扣红包，使用抵扣红包前请关闭自动投标功能，抵扣红包使用要手动投标！</li>
            <li>4、现金红包是直接变现的，加入可用余额中！如有疑问，请联系在线客服！
        </ul>
    </div>
</body>
</html>

